:root {
  --accent-color: #bffe3d;
  --active-color: #ebfe4c;
  --fs-500: 1.1rem;
  --fs-600: 1.5rem;
  --fs-900: 3rem;
}

body {
  margin: 0;
  background-color: white;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: #101217;
}

h1 {
  margin: 0;
  font-size: var(--fs-900);
  font-weight: 100;
  position: relative;
  text-align: center;
}

header,
footer {
  position: fixed;
  width: 100%;
  z-index: 1;
}

header {
  padding: 1.5vh;
  background-color: var(--accent-color);
}

main {
  padding: 95px 20px 80px 20px;
  background-color: white;
}

section {
  top: 1vh;
  position: relative;
  padding: 10px;
  border: solid var(--accent-color) 3px;
  border-radius: 7px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  bottom: 0;
  display: flex;
  background-color: var(--accent-color);
  justify-content: space-between;
}

.footer__icon {
  height: 70px;
  padding: 20px;
  object-fit: scale-down;
}

.footer__link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link.footer__link--active {
  background-color: var(--active-color);
}
