* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-dark-dark-background-color: #937601;
  --primary-background-color: #ffd7d5;
  --secondary-background-color: #f3ffe1;
  --tertiary-background-color: #e8d7ff;
  --highlight-color: #ffd3e8;
  --primary-font-color: #dfffd6;
  --secondary-font-color: #f3ffe1;
}

body {
  margin: 0%;
  text-align: center;
  background-color: var(--secondary-background-color);
}

header {
  z-index: 1;
  position: fixed;
  left: 0%;
  top: 0%;
  height: 10%;
  width: 100%;
  background-color: var(--tertiary-background-color);
}

main {
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

nav {
  z-index: 2;
  position: fixed;
  display: flex;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 10%;
  width: 100%;
  background-color: var(--tertiary-background-color);
}

h1 {
  position: relative;
  margin-top: 4%;
  text-align: center;
  color: var(--primary-font-color);
  font-size: 12vw;
}

h2 {
  color: var(--primary-font-color);
  padding: 5%;
  font-size: 180%;
}

button {
  border: none;
  box-shadow: 1vw 1vw var(--secondary-background-color);
  background-color: var(--highlight-color);
  color: var(--secondary-background-color);
  padding: 3%;
}

p {
  color: var(--secondary-font-color);
  background-color: var(--tertiary-background-color);
  padding: 3%;
  width: 100%;
  font-size: larger;
  margin-bottom: -2%;
}
