* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--primary-background-color);
  box-sizing: border-box;
}

:root {
  --primary-dark-dark-background-color: #937601;
  --primary-background-color: bisque;
  --secondary-background-color: white;
  --font-color: crimson;
}
