.question-card__icon {
  position: absolute;
  height: 10vw;
  right: 0;
  top: -15px;
}

.question-card__icon__hidden {
  content: url("/assets/bookmark_filled.png");
}

.question-card__title {
  text-align: center;
  font-weight: 200;
}

.question-card__button {
  content: "show answer";
  padding: 1vh;
  border: 2px solid var(--accent-color);
  border-radius: 7px;
  font-size: var(--fs-500);
  background-color: white;
}

.question-card__button:hover {
  transition: all 200ms;
  background-color: var(--active-color);
  border: 2px solid var(--active-color);
}

.question-card__answer {
  visibility: hidden;
}

.question-card__answer__unhide {
  margin-top: 2vw;
  visibility: visible;
}

.question-card__tags {
  display: flex;
  margin-top: 20px;
}

.question-card__tag {
  background-color: white;
  padding: 1vh;
  border: 2px solid var(--accent-color);
  border-radius: 7px;
  font-size: var(--fs-500);
  background-color: white;
}

.question-card__tag:hover {
  transition: all 200ms;
  background-color: var(--active-color);
  border: 2px solid var(--active-color);
}

.question-card__tag:not(:last-child) {
  margin-right: 10px;
}
