@import url(global.css);

.question-box {
  width: 90vw;
  height: auto;
  margin-bottom: 5vw;
  margin-left: -2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-background-color);
  box-shadow: 2vw 2vw var(--highlight-color);
}

.question-box__tag-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-self: flex-start;
  margin: 5vw;
  gap: 5vw;
}

.question-box__tag-container__tag {
  background-color: var(--highlight-color);
  box-shadow: 1vw 1vw var(--secondary-background-color);
  padding: 3vw;
}

.question-box__bookmark-icon {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-content: end;
  margin-right: 2vw;
  max-width: 8vw;
  max-height: 8vw;
  top: -3vw;
}
