/* @import url(global.css); */

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-dark-dark-background-color: #937601;
  --primary-background-color: bisque;
  --secondary-background-color: white;
  --primary-font-color: crimson;
  --secondary-font-color: #9f9f9f;
}

body {
  margin: 0%;
  text-align: center;
  background-color: var(--secondary-background-color);
}

header {
  z-index: 1;
  position: fixed;
  left: 0%;
  top: 0%;
  height: 10%;
  width: 100%;
  background-color: var(--primary-background-color);
}

main {
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

nav {
  z-index: 2;
  position: fixed;
  display: flex;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 10%;
  width: 100%;
  background-color: var(--primary-background-color);
}

h1 {
  position: relative;
  margin-top: 4%;
  text-align: center;
  color: var(--primary-font-color);
  font-size: 12vw;
}

h2 {
  color: var(--primary-font-color);
}

p {
  color: var(--secondary-font-color);
}

.question-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 175px;
  width: 100%;
  background-color: var(--secondary-background-color);
}

.question-box {
  width: 360px;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-background-color);
}

.tag-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-self: flex-start;
  margin: 20px;
  gap: 20px;
}

.tag {
  background-color: pink;
  padding: 10px;
}

.bookmark-icon {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-content: end;
  margin-right: 2vw;
  max-width: 8vw;
  max-height: 8vw;
  top: -3vw;
}

.nav-bar {
  display: flex;
  gap: 18vw;
  align-items: center;
  justify-content: space-around;
  padding: 8%;
}
