body {
  margin: 0%;
  text-align: center;
  background-color: var(--secondary-background-color);
}

header {
  z-index: 1;
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  background-color: var(--tertiary-background-color);
}

main {
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20vh;
  padding-bottom: 18vh;
  width: 100%;
  background-color: var(--secondary-background-color);
}

footer {
  z-index: 2;
  position: fixed;
  display: flex;
  bottom: 0%;
  width: 100vw;
  background-color: var(--tertiary-background-color);
  gap: 20vw;
  justify-content: space-evenly;
  padding: 2%;
}

img {
  width: 17vw;
  height: 17vw;
}
