* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

h1 {
  position: relative;
  margin-top: 4%;
  text-align: center;
  color: var(--primary-font-color);
  font-size: 12vw;
}

h2 {
  color: var(--primary-font-color);
  padding: 5%;
  font-size: 180%;
}

p {
  color: var(--primary-font-color);
  background-color: var(--tertiary-background-color);
  padding: 3%;
  width: 100%;
  font-size: x-large;
  margin-bottom: -2%;
}
